<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="database_hostname" value="localhost" />
    <add key="database_port" value="3306" />
    <add key="database_dbname" value="asx_scraper" />
    <add key="database_username" value="root" />
    <add key="database_password" value="" />
  </appSettings>
</configuration>